body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icon-small {
  width: 8rem;
  height: 8rem;
  fill: none;
}

.icon-very-small {
  width: 1.6rem;
  height: 1.6rem;
}

.bg-linear-gradient {
  background: linear-gradient(341deg, #00c856 0%, #208df9 76%);
}

.text-center {
  text-align: center;
}

.margin-top-small-medium {
  margin-top: 2.4rem;
}

.margin-top-medium {
  margin-top: 4.8rem !important;
}

.margin-top-large {
  margin-top: 9.6rem !important;
}

.margin-y-large {
  margin-top: 9.6rem !important;
  margin-bottom: 9.6rem !important;
}

.margin-y-medium {
  margin-top: 4.8rem !important;
  margin-bottom: 4.8rem !important;
}

.margin-bot-medium {
  margin-bottom: 4.8rem;
}

.margin-bot-small-medium {
  margin-bottom: 2.4rem;
}
