version: '3.0'
services:
  postgres:
    image: "postgres:latest"
    container_name: "postgres-where-is-my-money"
    shm_size: 128mb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: where-is-my-money
