<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Where is my money?</title>

    <link rel="stylesheet" th:href="@{/styles/general.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="container p-1 d-flex justify-content-center align-items-center">
    <div class="card d-flex flex-column justify-content-center rounded-2 shadow-lg p-lg-5 w-50">
        <div class="row mb-3">
            <a th:href="${!groupCreated} ? '/' : '/group/new'" class="btn btn-light">&larr; Powrót</a>
        </div>
        <div class="d-flex gap-2 flex-column text-center" th:if="${!groupCreated}">
            <p class="fw-bold fs-4">Utwórz nową grupę</p>
            <p class="text-black-50">Podaj nazwę grupy i swoje imię</p>
        </div>
        <div class="card-body">
            <form class="create-group-form" th:action="@{/group/new}" method="POST" th:if="${!groupCreated}">
                <div class="mt-3">
                    <label for="group-name" class="form-label">Nazwa grupy</label>
                    <input id="group-name" name="groupName" class="form-control" type="text">
                </div>

                <div class="mt-3">
                    <label for="group-description" class="form-label">Opis(opcjonalnie)</label>
                    <textarea id="group-description" name="description" class="form-control form-text"></textarea>
                </div>

                <div class="mt-3">
                    <label for="owner-name" class="form-label">Twoje imię</label>
                    <input id="owner-name" name="ownerFullName" class="form-control" type="text">
                </div>

                <div class="mt-3">
                    <label for="email-address" class="form-label">Email</label>
                    <input id="email-address" name="email" class="form-control" type="email"/>
                </div>

                <div class="mt-4 text-end">
                    <button type="submit" class="btn btn-primary d-block w-100 create-group-btn bg-linear-gradient">
                        Utwórz grupę
                    </button>
                </div>
            </form>

            <div class="d-flex flex-column" th:unless="${!groupCreated}">
                <div class="row justify-content-center align-items-center mb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         class="icon-medium check-green-color">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                </div>
                <p class="text-black text-center fs-5">Grupa utworzona pomyślnie!</p>
                <p class="text-secondary text-center mt-3">Udostępnij ten link swoim znajomym, aby mogli dołączyć do
                    grupy.</p>
                <div class="row mt-1">
                    <div class="col-md-10">
                        <label for="group-link" class="form-label">Link do grupy</label>
                        <input class="group-link-input form-control text-black fw-bold" id="group-link" type="text"
                               name="groupLink" disabled th:value="${groupUrl}">
                    </div>
                    <div class="col-md-2 d-flex align-items-end position-relative">
                        <button class="btn-group-copy btn btn-light border border-1 w-100">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="icon-very-small">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M8.25 7.5V6.108c0-1.135.845-2.098 1.976-2.192.373-.03.748-.057 1.123-.08M15.75 18H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08M15.75 18.75v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5A3.375 3.375 0 0 0 6.375 7.5H5.25m11.9-3.664A2.251 2.251 0 0 0 15 2.25h-1.5a2.251 2.251 0 0 0-2.15 1.586m5.8 0c.065.21.1.433.1.664v.75h-6V4.5c0-.231.035-.454.1-.664M6.75 7.5H4.875c-.621 0-1.125.504-1.125 1.125v12c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V16.5a9 9 0 0 0-9-9Z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md">
                        <a th:href="@{/group/{groupId}(groupId=${groupId},token=${tokenId})}" class="btn green bg-linear-gradient text-white w-100">Przejdź do grupy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" th:src="@{/js/formValid.js}" th:if="${!groupCreated}"></script>
<script type="module" th:src="@{/js/btnGroupCopyPopup.js}" th:unless="${!groupCreated}"></script>
</body>
</html>